<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908633866601-22pce4ffp40mtmrd7simac09l01sraqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908633866601-22pce4ffp40mtmrd7simac09l01sraqu</string>
	<key>API_KEY</key>
	<string>AIzaSyCs-CAqTda8nUMtwpKTqT5msjb64L8YQks</string>
	<key>GCM_SENDER_ID</key>
	<string>908633866601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twinspires.test</string>
	<key>PROJECT_ID</key>
	<string>payments-46ca7</string>
	<key>STORAGE_BUCKET</key>
	<string>payments-46ca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908633866601:ios:eef415be8fea6740dc7df8</string>
	<key>DATABASE_URL</key>
	<string>https://payments-46ca7.firebaseio.com</string>
</dict>
</plist>